@import 'lib/skeleton';
@import 'variables';

html, body {
  height: 100%;
  width: 100%;
  background-color: #ebebeb;
}

body {
  font-family: "Titillium Web", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #323232;
}

.glkn-primary-bg-color {
  background-color: $primary-colour;
}

.container {
  padding-top: 60px;
}

.portfolio-header-profile-picture-wrapper {
  $profile-picture-border-radius: 6px;
  $profile-picture-size: 108px;
  $profile-picture-background: #ffffff - 10;

  border: #ffffff solid 1px;
  box-shadow: 5px 5px 10px 0 rgba(0,0,0,0.25);
  padding: 5px;
  border-radius: $profile-picture-border-radius;
  width: $profile-picture-size;
  height: $profile-picture-size;
  background-color: $profile-picture-background;
  & .portfolio-header-profile-picture {
    background-color: $primary-colour;
    width: 100%;
    height: 100%;
    border: ($profile-picture-background - 10) solid 1px;
    border-radius: $profile-picture-border-radius - 1px;
    box-shadow: inset 0 0 10px 0 rgba(0,0,0,0.5);

    & > img {
      height: 100%;
      width: 100%;
      text-align: center;
    }
  }
}

.portfolio-body {
  background-color: $primary-colour;
  height: 200px;
}