html, body {
    height: 100%;
    width: 100%;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Titillium Web", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #323232;
}

.glkn-primary-bg-color {
    background-color: #4580c2;
}